<!-- Young artists section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">Young artists</h2>
                    <h3 class="section-subheading text-muted">Here at Average Joe Mastering we remember what it is to be young and full of dreams. But low on cash! <br /><br />
                    We are working to provide the highest quality mastering at affordable price, so that everyone can get their songs to professional level. <br />
                    We enjoy working with local and upcoming artists to help them achieve their dreams.<br /><br />

                    If you are a new young artist, and you don't think you can afford mastering services, feel free to reach out and we can discuss your projects, because what really matters to us is the music <br><br>
                    </h3>
                </div>
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">AI Policy</h2>
                    <h3 class="section-subheading text-muted">
                        AI is making it's way everywhere, and we are not against it. However, all it can do is apply what it has learned, which would be from previously released songs.
                        It cannot have an artistic viewpoint, and it cannot create something new.  <br><br>
                        There is a part of Mastering which is purely technical (exporting to the correct format, with the correct settings etc...) but the *most* important part is still making the songs emotionally impactful, and only humans can decifer emotions.<br> <br>
                        We will not use AI to master your songs, purely because we believe that it is not capable of making the right artistic decisions. 
                    </h3>
                </div>
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">Dynamics and Loudness</h2>
                    <h3 class="section-subheading text-muted">
                        Ohh, the loudness war. Dod you remember the 70's where songs were dynamic, and you could feel the music? <br><br>
                        Then came the 80's, and the loudness war started. Now songs ware compressed to the point of being flat, and you can not feel the music anymore. I listened to the last Airbourne record about a week before writing this, and all the songs are at -7 LUFS. The ENTIRE albums is loud. No quiet song. No breaks. no dynamic. After a few songs, it is tyring, and makes you loose interest.... Where is this going ?!<br><br>
                        About 8 years ago, I decided to buy as many Vinyl records as I could, and not the re-printed ones, but the original ones.
                        Using this record collection as reference, I can master songs like they did back in the days where numbers did not matter as much.<br>
                    </h3>
                </div> 
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">Genres</h2>
                    <h3 class="section-subheading text-muted">
                        From classical to moderm metal, passing by jazz, rock, Hip-hop, punk, EDM, pop,.... nothing is out of our reach. <br> 
                        The difference in expectations between genres is huge, and we are aware of that. We will always make sure to understand the genre, and the expectations of the artist, before starting the mastering process. <br><br>
                        All our masters can also be revised if the artist feels that it is not what they expected. We will work with you until everyone is satisfied with the final result. <br><br>

                    </h3>
                </div>
                </div> <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Online Mastering</h2>
                    <h3 class="section-subheading text-muted">
                        We are fully setup for online mastering, and we can work with you no matter where you are located. <br>
                        Sharing of the files will de done securely, to ensure no one else gets access to your music. <br>
                        Brisbane / Hillcrest Locals are always welcome to come by the studio, and we can discuss your project in person, with a coffee in hand. <br><br>
                    </h3>
                </div>
            </div>
        </div>
    </section>
