<!-- Young artists section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">Young artists</h2>
                    <h3 class="section-subheading text-muted">Here at Average Joe Mastering we remember what it is to be young and full of dreams. But low on cash! <br /><br />
                    We are working to provide the highest quality mastering at affordable price, so that everyone can get their songs to professional level. <br />
                    We enjoy working with local and upcoming artists to help them achieve their dreams.<br /><br />

                    If you are a new young artist, and you don't think you can afford mastering services, feel free to reach out and we can discuss your projects, because what really matters to us is the music <br><br>
                    </h3>
                </div>
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">AI Policy</h2>
                    <h3 class="section-subheading text-muted">
                        AI is making it's way everywhere, and we are not against it. However, all it can do is apply what it has learned, which would be from previously released songs.
                        It cannot have an artistic viewpoint, and it cannot create something new.  <br><br>
                        There is a part of Mastering which is purely technical (exporting to the correct format, with the correct settings etc...) but the *most* important part is still making the songs emotionally impactful, and only humans can decifer emotions.<br> <br>
                        We will not use AI to master your songs, purely because we believe that it is not capable of making the right artistic decisions. 
                    </h3>
                </div>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dynamics and Loudness</h2>
                    <h3 class="section-subheading text-muted">
                        Ohh, the loudness war. Dod you remember the 70's where songs were dynamic, and you could feel the music? <br><br>
                        Then came the 80's, and the loudness war started. Now songs ware compressed to the point of being flat, and you can not feel the music anymore. I listened to the last Airbourne record about a week before writing this, and all the songs are at -7 LUFS. The ENTIRE albums is loud. No quiet song. No breaks. no dynamic. After a few songs, it is tyring, and makes you loose interest.... Where is this going ?!<br><br>
                        Well, about 8 years ago, I decided to buy as many records as I could, and not the re-printed ones, but the original ones (it does hurt to pay $200 for a blue-roo ACDC, but it is worth it If you can learn from it)
                        Using this record collection as reference, I can master songs like they did back in the days where numbers did not matter.
                        Turns out that you can get to that dynamic, clear sound, and still be loud enough. <br><br>
                        With these lessons in mind, we decide when and where to master using this old school methods, or with the newer approach (we won't lie, mastering a metal song with the old school ways ... well it does not have the punch expected out of it)
                    </h3>
                </div>
            </div>
        </div>
    </section>
