<!-- Services Section -->
<!--
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Here at Average Joe Mastering we remember what it is to be young and full of dreams. But low on cash! <br /><br />
                    We are working to provide the highest quality mastering at affordable price, so that everyone can get their songs to professional level. <br />
                    We enjoy working with local and upcoming artists to help them achieve their dreams.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                   <img src="../img/logos/solid/tower-broadcast.svg" style="width: 112px; height: 112px; display: inline-block; vertical-align: middle;" alt="Play" />
                    <h4 class="service-heading">Single song</h4>
                    <p class="text-muted">We can master single songs, primarely for release on streaming services. <br />
                                        We focus on impact, to ensure the song pops out in the setlists, and keep high dynamics to keep the listener attention.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../img/logos/solid/compact-disc.svg" style="width: 112px; height: 112px; display: inline-block; vertical-align: middle;" alt="Play" />
                    <h4 class="service-heading">EP</h4>
                    <p class="text-muted">With 3 to 5 tracks and under 30 minutes, this is the perfect way to show you dedication and skills. <br />
                        Releasing a high quality EP with show the world, and key players in the music industry, that your band can do great sounding work, and are ready for the next step.<br />
                        When mastering an EP we focus on showing the band's sound direction, and merging all the songs into a coherent sounding release.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../img/logos/solid/record-vinyl.svg" style="width: 112px; height: 112px; display: inline-block; vertical-align: middle;" alt="Play" />
                    <h4 class="service-heading">Long playing</h4>
                    <p class="text-muted"> This is the ultimate release, a full length album!<br />
                        When mastering full length album, we are looking at ensuring coherence between the songs, and keeping dynamics. Each song still need to retain it's beauty, but the order of the songs, and giving the listener time to breathe also comes into aspect here.
                    </p>
                </div>
            </div>
        </div>
    </section>
-->